.DS_Store
node_modules

/projects/*/build
/projects/*/package
/projects/*/coverage
/projects/*/.vercel
/projects/*/.svelte-kit
/projects/*/vite.config.js.timestamp-*
/projects/*/vite.config.ts.timestamp-*

/sandbox

.env
.env.*
!.env.example

.turbo
/graphs
