.DS_Store
node_modules

/projects/*/build
/projects/*/package
/projects/*/.vercel
/projects/*/.svelte-kit

/projects/stories

.env
.env.*
!.env.example

.turbo
/graphs

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# ignore page files since i haven't solved how to integrate mdsvex properly

projects/3d/src/routes/**/+page.svelte
projects/doc/src/routes/**/+page.svelte
projects/doc/src/routes/**/*.md.svelte