{
    "overrides": [{ "files": ["*.svelte"], "options": { "parser": "svelte" } }],
    "pluginSearchDirs": ["."],
    "plugins": ["prettier-plugin-svelte"],
    "printWidth": 100,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "singleAttributePerLine": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "embeddedLanguageFormatting": "auto"
}
