.DS_Store
node_modules

/projects/*/build
/projects/*/package
/projects/*/.vercel
/projects/*/.svelte-kit

/projects/stories

.env
.env.*
!.env.example

.turbo
/graphs

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# disable prettier for svelte files that has markdown
projects/*/src/routes/**/+page.svelte
projects/doc/src/routes/3-Components/2-Block/3-Controls/Layout.md.svelte
!projects/doc/src/routes/4-Internals/2-ThemeIcon/+page.svelte